pip_packages/ansible-2.4.0.0.tar.gz filter=lfs diff=lfs merge=lfs -text
pip_packages/backports.ssl_match_hostname-3.4.0.2.tar.gz filter=lfs diff=lfs merge=lfs -text
pip_packages/iniparse-0.4.tar.gz filter=lfs diff=lfs merge=lfs -text
pip_packages/pycurl-7.19.0.tar.gz filter=lfs diff=lfs merge=lfs -text
pip_packages/pyxattr-0.5.1.tar.gz filter=lfs diff=lfs merge=lfs -text
pip_packages/PyNaCl-1.2.1-cp27-cp27mu-manylinux1_x86_64.whl filter=lfs diff=lfs merge=lfs -text
pip_packages/cffi-1.11.5-cp27-cp27mu-manylinux1_x86_64.whl filter=lfs diff=lfs merge=lfs -text
pip_packages/perf-0.1.tar.gz filter=lfs diff=lfs merge=lfs -text
pip_packages/pypiserver-1.2.0-py2.py3-none-any.whl filter=lfs diff=lfs merge=lfs -text
pip_packages/MarkupSafe-1.0.tar.gz filter=lfs diff=lfs merge=lfs -text
pip_packages/PyYAML-3.12.tar.gz filter=lfs diff=lfs merge=lfs -text
pip_packages/pip-10.0.1-py2.py3-none-any.whl filter=lfs diff=lfs merge=lfs -text
pip_packages/pyliblzma-0.5.3.tar.bz2 filter=lfs diff=lfs merge=lfs -text
pip_packages/Jinja2-2.10-py2.py3-none-any.whl filter=lfs diff=lfs merge=lfs -text
pip_packages/six-1.11.0-py2.py3-none-any.whl filter=lfs diff=lfs merge=lfs -text
pip_packages/pyudev-0.15.tar.gz filter=lfs diff=lfs merge=lfs -text
pip_packages/enum34-1.1.6-py2-none-any.whl filter=lfs diff=lfs merge=lfs -text
pip_packages/ipaddress-1.0.22-py2.py3-none-any.whl filter=lfs diff=lfs merge=lfs -text
pip_packages/asn1crypto-0.24.0-py2.py3-none-any.whl filter=lfs diff=lfs merge=lfs -text
pip_packages/decorator-3.4.0.tar.gz filter=lfs diff=lfs merge=lfs -text
pip_packages/psycopg2-2.7.3.2-cp27-cp27mu-manylinux1_x86_64.whl filter=lfs diff=lfs merge=lfs -text
pip_packages/pyasn1-0.4.2-py2.py3-none-any.whl filter=lfs diff=lfs merge=lfs -text
pip_packages/pygpgme-0.3.tar.gz filter=lfs diff=lfs merge=lfs -text
pip_packages/cryptography-2.2.2-cp27-cp27mu-manylinux1_x86_64.whl filter=lfs diff=lfs merge=lfs -text
pip_packages/configobj-4.7.2.tar.gz filter=lfs diff=lfs merge=lfs -text
pip_packages/idna-2.6-py2.py3-none-any.whl filter=lfs diff=lfs merge=lfs -text
pip_packages/wheel-0.31.1-py2.py3-none-any.whl filter=lfs diff=lfs merge=lfs -text
pip_packages/bcrypt-3.1.4-cp27-cp27mu-manylinux1_x86_64.whl filter=lfs diff=lfs merge=lfs -text
pip_packages/paramiko-2.4.0-py2.py3-none-any.whl filter=lfs diff=lfs merge=lfs -text
pip_packages/pycparser-2.18.tar.gz filter=lfs diff=lfs merge=lfs -text
pip_packages/setuptools-39.2.0-py2.py3-none-any.whl filter=lfs diff=lfs merge=lfs -text
pip_packages/lxml-3.2.1.tar.gz filter=lfs diff=lfs merge=lfs -text
yum_packages/postgresql10-server-10.4-1PGDG.rhel7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/python-setuptools-0.9.8-7.el7.noarch.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/rsync-3.1.2-4.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/glibc-common-2.17-222.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/perl-Pod-Escapes-1.04-292.el7.noarch.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/perl-Socket-2.010-4.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/libjpeg-turbo-1.2.90-5.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/libmpc-1.0.1-3.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/perl-Encode-2.51-7.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/perl-HTTP-Tiny-0.033-3.el7.noarch.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/perl-constant-1.27-2.el7.noarch.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/deltarpm-3.6-3.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/libSM-1.2.2-2.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/libXtst-1.2.3-1.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/perl-macros-5.16.3-292.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/python-ipaddress-1.0.16-2.el7.noarch.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/python-libs-2.7.5-68.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/libX11-1.6.5-1.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/perl-threads-shared-1.43-6.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/unzip-6.0-19.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/xorg-x11-font-utils-7.5-20.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/fontconfig-2.10.95-11.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/glibc-headers-2.17-222.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/postgresql10-libs-10.4-1PGDG.rhel7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/java-1.8.0-openjdk-headless-1.8.0.171-8.b10.el7_5.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/nspr-4.19.0-1.el7_5.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/perl-Filter-1.49-3.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/postgresql10-10.4-1PGDG.rhel7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/erlang-otp_mibs-R16B-03.18.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/erlang-runtime_tools-R16B-03.18.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/erlang-sasl-R16B-03.18.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/xinetd-2.3.15-13.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/nss-softokn-freebl-3.36.0-5.el7_5.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/nss-tools-3.36.0-5.el7_5.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/perl-Text-ParseWords-3.29-4.el7.noarch.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/keepalived-1.3.5-6.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/nss-util-3.36.0-1.el7_5.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/perl-Error-0.17020-2.el7.noarch.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/perl-PathTools-3.40-5.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/sshpass-1.06-2.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/vim-enhanced-7.4.160-4.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/erlang-compiler-R16B-03.18.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/erlang-stdlib-R16B-03.18.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/mpfr-3.1.1-4.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/libstdc++-devel-4.8.5-28.el7_5.1.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/perl-podlators-2.5.1-3.el7.noarch.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/python-deltarpm-3.6-3.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/erlang-hipe-R16B-03.18.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/git-1.8.3.1-13.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/net-snmp-agent-libs-5.7.2-33.el7_5.2.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/nss-softokn-3.36.0-5.el7_5.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/erlang-public_key-R16B-03.18.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/glibc-2.17-222.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/kernel-headers-3.10.0-862.3.3.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/nss-pem-1.0.3-4.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/tzdata-java-2018e-3.el7.noarch.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/gdb-7.6.1-110.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/libICE-1.0.9-9.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/libxcb-1.12-1.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/nss-sysinit-3.36.0-5.el7_5.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/openssl-1.0.2k-12.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/createrepo-0.9.9-28.el7.noarch.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/erlang-sd_notify-0.1-1.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/gcc-c++-4.8.5-28.el7_5.1.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/perl-5.16.3-292.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/python-backports-ssl_match_hostname-3.5.0.1-1.el7.noarch.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/perl-Git-1.8.3.1-13.el7.noarch.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/perl-TermReadKey-2.30-20.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/fontpackages-filesystem-1.44-8.el7.noarch.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/haproxy-1.5.18-7.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/libXau-1.0.8-2.1.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/lsof-4.87-5.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/perl-Exporter-5.68-3.el7.noarch.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/perl-parent-0.225-244.el7.noarch.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/vim-filesystem-7.4.160-4.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/erlang-kernel-R16B-03.18.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/libpcap-devel-1.5.3-11.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/lm_sensors-libs-3.4.0-4.20160601gitf9185e5.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/python-devel-2.7.5-68.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/cpp-4.8.5-28.el7_5.1.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/erlang-os_mon-R16B-03.18.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/perl-Time-Local-1.2300-2.el7.noarch.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/erlang-syntax_tools-R16B-03.18.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/libXext-1.3.3-3.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/perl-Pod-Usage-1.63-3.el7.noarch.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/net-tools-2.0-0.22.20131004git.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/perl-File-Path-2.09-2.el7.noarch.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/perl-Getopt-Long-2.40-3.el7.noarch.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/erlang-ssl-R16B-03.18.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/libgomp-4.8.5-28.el7_5.1.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/libstdc++-4.8.5-28.el7_5.1.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/python-2.7.5-68.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/repodata filter=lfs diff=lfs merge=lfs -text
yum_packages/erlang-inets-R16B-03.18.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/perl-libs-5.16.3-292.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/psmisc-22.20-15.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/libpcap-1.5.3-11.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/rabbitmq-server-3.3.5-34.el7.noarch.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/gpm-libs-1.20.7-5.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/perl-File-Temp-0.23.01-3.el7.noarch.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/perl-Pod-Perldoc-3.20-4.el7.noarch.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/python-lxml-3.2.1-4.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/chrony-3.2-2.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/erlang-xmerl-R16B-03.18.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/gcc-4.8.5-28.el7_5.1.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/lyx-fonts-2.2.3-1.el7.noarch.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/perl-Carp-1.26-244.el7.noarch.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/perl-threads-1.87-4.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/perl-Scalar-List-Utils-1.27-248.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/perl-Storable-2.45-3.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/libgcc-4.8.5-28.el7_5.1.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/libicu-50.1.2-15.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/libseccomp-2.3.1-3.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/glibc-devel-2.17-222.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/libpng-1.5.13-7.el7_2.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/nss-3.36.0-5.el7_5.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/perl-Time-HiRes-1.9725-3.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/xorg-x11-fonts-Type1-7.5-9.el7.noarch.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/activiti-rest.war filter=lfs diff=lfs merge=lfs -text
yum_packages/erlang-tools-R16B-03.18.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/javapackages-tools-3.4.1-11.el7.noarch.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/erlang-snmp-R16B-03.18.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/libXi-1.7.9-1.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/python2-pip-8.1.2-6.el7.noarch.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/libxslt-1.1.28-5.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/perl-Pod-Simple-3.28-4.el7.noarch.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/java-1.8.0-openjdk-1.8.0.171-8.b10.el7_5.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/libX11-common-1.6.5-1.el7.noarch.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/libXcomposite-0.4.4-4.1.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/copy-jdk-configs-3.3-10.el7_5.noarch.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/python-backports-1.0-8.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/libfontenc-1.1.3-3.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/openssl-libs-1.0.2k-12.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/ttmkfdir-3.0.9-42.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/apache-tomcat-8.5.24.tar.gz filter=lfs diff=lfs merge=lfs -text
yum_packages/giflib-4.1.6-9.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/libXrender-0.9.10-1.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/erlang-mnesia-R16B-03.18.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/net-snmp-libs-5.7.2-33.el7_5.2.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/libxml2-python-2.9.1-6.el7_2.3.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/lksctp-tools-1.0.17-2.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/yumrepo.tar.gz filter=lfs diff=lfs merge=lfs -text
yum_packages/erlang-asn1-R16B-03.18.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/libXfont-1.5.2-1.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/libgnome-keyring-3.12.0-1.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/vim-common-7.4.160-4.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/erlang-crypto-R16B-03.18.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/erlang-erts-R16B-03.18.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/python-javapackages-3.4.1-11.el7.noarch.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/repodata/d5bdbd4088d03c0d66bd931d904bcd7881142ef858dacd1366269d97990616e7-other.xml.gz filter=lfs diff=lfs merge=lfs -text
yum_packages/repodata/repomd.xml filter=lfs diff=lfs merge=lfs -text
yum_packages/repodata/1b0163b543b2127d63fc584b2b189d18b7f97590742fc0e9b94e93819b674433-other.sqlite.bz2 filter=lfs diff=lfs merge=lfs -text
yum_packages/repodata/1c4032b28ff83f83f93cc07deb73d69a5c416d30eda815867e1e09ef4c3db8fc-primary.xml.gz filter=lfs diff=lfs merge=lfs -text
yum_packages/repodata/703659e23feebc5d8d50c4274f2362b8de51bc199a3f42335a9f5753720911da-filelists.xml.gz filter=lfs diff=lfs merge=lfs -text
yum_packages/repodata/7b7574bc83fcc1f4276dedfc766fddd37ee6a34239dade496341ac448760ec76-primary.sqlite.bz2 filter=lfs diff=lfs merge=lfs -text
yum_packages/repodata/c57004b462d991e3947d6f58bf0e88b9810daae52b5d12555d0c32cda6f1adf4-filelists.sqlite.bz2 filter=lfs diff=lfs merge=lfs -text
file_packages/datadog-agent.tar.gz filter=lfs diff=lfs merge=lfs -text
file_packages/deploy.tar.gz filter=lfs diff=lfs merge=lfs -text
file_packages/md5sum.txt filter=lfs diff=lfs merge=lfs -text
file_packages/proxy.tar.gz filter=lfs diff=lfs merge=lfs -text
file_packages/server.tar.gz filter=lfs diff=lfs merge=lfs -text
file_packages/agent.tar.gz filter=lfs diff=lfs merge=lfs -text
yum_packages/datadog-agent.tar.gz filter=lfs diff=lfs merge=lfs -text
yum_packages/git-1.8.3.1-14.el7_5.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
yum_packages/perl-Git-1.8.3.1-14.el7_5.noarch.rpm filter=lfs diff=lfs merge=lfs -text
